modules = ["web", "java-graalvm22.3"]
run = "uyuşmazlıkları düzelttim"

[nix]
channel = "stable-24_05"
packages = ["maven"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Library Management System"

[[workflows.workflow]]
name = "Library Management System"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn spring-boot:run -Dspring-boot.run.jvmArguments=\"-Dserver.port=5000\""
waitForPort = 5000

[deployment]
run = ["sh", "-c", "uyuşmazlıkları düzelttim"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35729
externalPort = 3000
